video {
    object-fit: fill;
    width: 100%;
    height: 100%;
    /* position: fixed;
    z-index: -1; */
  }

  .box1:hover .numberInBox{
    font-size: 80px;
    color:#59CE8F;
  }
  
  
  .numberInBox{
    font-size: 70px;
    color:#E8F9FD;
    text-align: center;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .homeVideo {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  .button1{
    width: 100%;
                    font-size: 30px;
                    background-color: #59CE8F ;
                    color: #FFF;
                    border: 0;
                    border-radius: 10px;
  }
  .button1:hover{
    cursor: pointer;
    background-color: #fff;
    color:black;
  }
  .picBox1{
    background-image: url("../../images/identify.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size:100% 100%;
    
  }
  .picBox2{
    background-image: url("../../images/detector.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size:100% 90%;
    margin-left: 38px;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .picBox3{
    background-image: url("../../images/report.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size:100% 90%;
  }
  .picBox4{
    background-image: url("../../images/graph.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size:90% 90%;
  }
  .picBox8{
    background-image: url("../../images/simulation.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size:90% 90%;
  }
  .picBox8:hover{

    transform: scale(1.1);
        cursor: pointer;
      }
  
  .picBox1:hover{

transform: scale(1.1);
    cursor: pointer;
  }
  .picBox2:hover{

    transform: scale(1.1);
        cursor: pointer;
      }

  .picBox3:hover{

        transform: scale(1.1);
            cursor: pointer;
          }
  .picBox4:hover{

            transform: scale(1.1);
                cursor: pointer;
              }

  h1 {
    color: #fff;
    font-size: 100px;
    margin-top: 
    20px;
  }
  @media screen and (max-width: 1130px) {
    h1 {
      color: #fff;
      font-size: 8vw;
      margin-top: 
      30px;
    }
  }
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  
   .subtitle {
    margin-top: 8px;
    text-align: center;
    color: #BDB39F;
    font-size: 32px;
    font-family: "Montserrat Alternates";
    padding-top: "100px";
  }
  
  .bg-btns {
    margin-top: 32px;
  }
  
  .bg-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  .data_img{
    object-fit: fill;
    width:100%;
    height:250px;

  }
  .data_img:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  .margin_box{
  
  width: 30vw;
 }
@media screen and (max-width: 1200px) {
  .margin_box{
    width: 28vw
  }
  
}
@media screen and (max-width: 1115px) {
  .margin_box{
    width: 26vw
  }
  
}

  

    @media screen and (max-width: 390px) {
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }

 