.navbar {
    background: linear-gradient(90deg, #59CE8F  0%, #59CE8F  100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 100%;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 1vw;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: flex;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 65vw;
    justify-content: end;
    margin-right: 2rem;
    margin-left: 1vw;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 75%;
    font-family: Montserrat Subrayada;
  }
  
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: block;
      font-size: 1.8rem;
      cursor: pointer;
  }
  
  @media screen and (max-width: 1067px) {
    .navbar {
      background: linear-gradient(90deg, #59CE8F  0%, #59CE8F  100%);
      height: 80px;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1.2rem;
      position: sticky;
      top: 0;
      z-index: 999;
      
    }
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: none;
      /* flex-direction: column;
      width: 50vw;
      height: 100%;
      position: fixed;
      top: 60px;
      left: -80%;
      opacity: 1;
      transition: all 0.5s ease;
      justify-content: start; */
      
    }
  
    /* .nav-menu.active {
      background: #A36F09;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    } */
  
    /* .nav-links {
      text-align: center;
      padding: 2rem;
      width: 80%;
      height: 10%;
      display: table;
      
    }
    .nav-links1 {
      text-align: center;
      padding: 2rem;
      width: 60vw;
      height: 25px;
      display: table;
      pointer-events: none;
    }

    .nav-item{
      margin-bottom: 15px;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 40px;
      
      transform: translate(25%, 50%);
    }
   */
    .menu-icon {
      /* display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer; */
      display: block;
      font-size: 1.8rem;
      cursor: pointer;
      margin-left: 10vw;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    
    
  }

  .nav-menu1.active {
    background: rgba(89,206,143,0.5) ;
    left: 0;
    opacity: 1.2;
    transition: all 0.5s ease; 
    z-index: 1;
    list-style-type: none;
    
  }
  .nav-menu1 {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 100%;
    position: fixed;
    top: 60px;
    left: -80%;
    opacity: 1;
    transition: all 0.5s ease;
    list-style-type: none;
    margin-left: -54px;
    
  }

  .nav-links1 {
    /* text-align: center; */
    padding: 1rem;
    width: 100%;
    height: 10px;
    display: table;
    font-family: Montserrat;
    list-style-type: none;
    
  }

  .nav-item1{
    margin-bottom: 15px;
    height: 50px;
    font-size: 23px;
    list-style-type: none;
  }

  .nav-links1:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
    width: 92%;
    
  }

  .nav-links2 {
    /* text-align: center; */
    padding: 1rem;
    width: 100%;
    height: 5%;
    display: table;
    font-family: Montserrat;
    
  }

  .nav-item2{
    margin-bottom: -20px;
    font-size: 15px;
    font-family: Montserrat Alternates;
  }

  .nav-links2:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
    width: 92%;
    
  }