.reportButton {
    
    width:370px;
    height: 60px;
    background-color: #59CE8F;
    border: 4px solid;
    border-radius: 12px;
    border-color: #FFF;
    color:#FFF;
    font-size: 20px;
  }


  .reportButton:hover {
    background-color: #FFF;
    border-color:  #59CE8F;
    color:#59CE8F;
    cursor: pointer;
  }

  .pastDataBox:hover .pastDataText{
    color:#59CE8F

  }
  .detectorBox:hover .detectorText{
    color:#59CE8F
  }
  .pastDataBox:hover {
    background-color:#ffff

  }
  .detectorBox:hover {
    background-color:#ffff

  }