.answerButton1{
    color:#FFFF;
    background-color: #A36F09;
    font-size: 25px;
    font-family: Montserrat;
    width: 150px;
    height: 50px;
    border-radius: 8px;
}
.answerButton2{
    color:#FFFF;
    background-color: #A36F09;
    font-size: 25px;
    font-family: Montserrat;
    width: 150px;
    height: 50px;
    border-radius: 8px;
}

.answerButton1:hover{
    color: #fff;
    background-color: rgb(10, 253, 99);
    font-size: 30px;
    cursor: pointer;
}
.answerButton2:hover{
    color:#fff;
    background-color: rgb(242, 10, 10);
    font-size: 30px;
    cursor: pointer;
}
.questionButton{
    color:#FFFF;
    background-color: #A36F09;
    font-size: 25px;
    font-family: Montserrat;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}

.questionButton:hover{
    color:#A36F09;
    background-color: #FFFF;
    font-size: 30px;
    cursor: pointer;
}
.feedbackButton{
    color:#FFFF;
    background-color: #A36F09;
    font-size: 25px;
    font-family: Montserrat;
    width: 310px;
    height: 50px;
    border-radius: 8px;
}

.feedbackButton:hover{
    color:#A36F09;
    background-color: #FFFF;
    font-size: 27px;
    cursor: pointer;
}


.img1 {
    width:100%;
    height:100%;
  }
  

  