.picBox7{
    background-image: url("../images/detector.png");
    object-fit: fill;
    background-repeat: no-repeat;
    background-size:100% 90%;
    margin-top: 7px;
    margin-left: 12px;
  }
  .picBox7:hover{

    transform: scale(1.1);
        cursor: pointer;
      }